body{
    /*background-color: black;
    color: white;*/
}
.home ul li{
    width: 32px;
    list-style: none;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.red-border{
    border: 2px solid red;
}
.border{
    border: 2px solid red;
    margin: 3px;
}
.left{
    width: 25vw;
}
.right{
    width: 75vw;
}